body{
display: flex;
  background-color:black;

}

#myCanvas{
  height:100px;
  width: 300px;
  top:100px;
  left:200px;
  position:relative;
  z-index: 1;
  background-size: 100%;

}


#introduce{
font-family: 'Kavivanar', cursive;
font-family: 'Playfair Display', serif;
border: 2px solid linen;
position:absolute;
width:510px;
height:500px;
left: 120px;
top:100px;
background-color:black;
border-style: outset;
border-radius: 35px;
z-index: 1;
padding: 15px;
color:white;

}


#professionnel{
border: 2px solid burlywood;
border-style: outset;
position:absolute;
top: 670px;
left: 350px;
z-index: 1;
width:700px;
height:430px;
color:white;
border-radius: 35px;
background-color:black;
padding: 15px;
}


#formation{
border: 2px solid linen;
border-style: outset;
position:absolute;
top: 160px;
left: 750px;
z-index: 1;
width:500px;
height:400px;
color:white;
border-radius: 35px;
background-color:black;
padding:15px;
}



#loisirs{
border: 2px solid linen;
border-style: outset;
color:white;
border-radius: 35px;
position:absolute;
top: 1200px;
left: 750px;
z-index: 1;
width:400px;
height:450px;
text-align: center;
background-color:black;
}

#competences{
border: 2px solid linen;
border-style: outset;
z-index: 1;
top:1200px;
left:200px;
width:420px;
height:450px;
position:absolute;
color:white;
border-radius: 35px;
background-color:black;
padding: 15px;
}


.dore{

  height: 1700px;
  width:1337px;
  position: absolute;
  top:0px; left:0 px;
  background-image: url("blue.jpg");
  background-repeat: no-repeat;


}

#gal{
  top:40px; left:150 px;
  background-image: url("gal2.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 150px;
  width:100px;
border-radius: 35px;
margin-left: 10px;
}

#music{
  top:150px; left:770 px;
  background-image: url("music.jpg");
  background-repeat: no-repeat;
  position: absolute;
  height: 60px;
  width:60px;
  margin-left: 300px;
}

#cine{
  top:150px; left:850 px;
  background-image: url("cinema.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 60px;
  width:60px;
  margin-left: 170px;
}

#cook{
  top:270px; left:900 px;
  background-image: url("cook.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 60px;
  width:60px;
  margin-left: 300px;
}

#plane{
  top:270px; left:1500 px;
  background-image: url("avion.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 60px;
  width:60px;
  margin-left: 170px;
}

#serie{
  top:150px; left:850 px;
  background-image: url("serie.jpg");
  background-repeat: no-repeat;
  position: absolute;
  height: 60px;
  width:60px;
  margin-left: 15px;
}

#sport{
  top:270px; left:870 px;
  background-image: url("sport.jpg");
  background-repeat: no-repeat;
  position: absolute;
  height: 60px;
  width:60px;
  margin-left: 15px;
}
